/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: walkway;
  src: url('../fonts/Walkway.woff');
}
@font-face {
  font-family: walkway;
  src: url('../fonts/Walkway_Bold.woff');
  font-weight: bold;
}
@font-face {
  font-family: walkway;
  src: url('../fonts/Walkway_Bolder.woff');
  font-weight: bolder;
}
html * {
  font-size: 16px;
}
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
h1 {
  font-size: 70px;
  margin: 0;
}
h1 * {
  font-size: 70px;
}
header {
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 1em;
}
input {
  height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
button {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #0063dc;
  color: #0063dc;
  padding: .5em;
}
button:hover {
  border: 1px solid #ff0084;
  color: #ff0084;
}
#username_input {
  width: 480px;
  margin: 0 auto;
  text-align: center;
}
#username_input input {
  width: 98%;
  text-align: center;
}
#username_input button {
  width: 50%;
  margin: 0 auto;
}
.pink {
  color: #ff0084;
}
.blue {
  color: #0063dc;
}
.set-list {
  margin: 2em;
}
.set-list .set {
  display: inline-block;
  width: 24%;
  text-align: center;
  cursor: pointer;
}
.set-list .set p {
  font-family: walkway;
  font-weight: bold;
  font-size: 20px;
}
.set-list .set .thumbs {
  height: 180px;
  position: relative;
  margin-top: 2.5em;
  cursor: pointer;
}
.set-list .set .thumbs img {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 8px black double;
  background: white;
  cursor: pointer;
}
.set-list .set .thumbs img:nth-child(1) {
  -webkit-transform: rotate(10deg) translateX(-20px);
  -moz-transform: rotate(10deg) translateX(-20px);
  -o-transform: rotate(10deg) translateX(-20px);
  -ms-transform: rotate(10deg) translateX(-20px);
  transform: rotate(10deg) translateX(-20px);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.set-list .set .thumbs img:nth-child(2) {
  -webkit-transform: rotate(-10deg) translateX(42px);
  -moz-transform: rotate(-10deg) translateX(42px);
  -o-transform: rotate(-10deg) translateX(42px);
  -ms-transform: rotate(-10deg) translateX(42px);
  transform: rotate(-10deg) translateX(42px);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.set-list .set .thumbs img:nth-child(3) {
  -webkit-transform: translate(20px, 20px);
  -moz-transform: translate(20px, 20px);
  -o-transform: translate(20px, 20px);
  -ms-transform: translate(20px, 20px);
  transform: translate(20px, 20px);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.set-list .set .thumbs img:nth-child(4) {
  -webkit-transform: translate(-27px, -13px) rotate(8deg);
  -moz-transform: translate(-27px, -13px) rotate(8deg);
  -o-transform: translate(-27px, -13px) rotate(8deg);
  -ms-transform: translate(-27px, -13px) rotate(8deg);
  transform: translate(-27px, -13px) rotate(8deg);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.set-list .set .thumbs:hover img:nth-child(1) {
  -webkit-transform: rotate(10deg) translate(-80px, 20px);
  -moz-transform: rotate(10deg) translate(-80px, 20px);
  -o-transform: rotate(10deg) translate(-80px, 20px);
  -ms-transform: rotate(10deg) translate(-80px, 20px);
  transform: rotate(10deg) translate(-80px, 20px);
}
.set-list .set .thumbs:hover img:nth-child(2) {
  -webkit-transform: rotate(-10deg) translateX(72px);
  -moz-transform: rotate(-10deg) translateX(72px);
  -o-transform: rotate(-10deg) translateX(72px);
  -ms-transform: rotate(-10deg) translateX(72px);
  transform: rotate(-10deg) translateX(72px);
}
.set-list .set .thumbs:hover img:nth-child(3) {
  -webkit-transform: translate(50px, 50px);
  -moz-transform: translate(50px, 50px);
  -o-transform: translate(50px, 50px);
  -ms-transform: translate(50px, 50px);
  transform: translate(50px, 50px);
}
.set-list .set .thumbs:hover img:nth-child(4) {
  -webkit-transform: translate(-57px, -33px) rotate(8deg);
  -moz-transform: translate(-57px, -33px) rotate(8deg);
  -o-transform: translate(-57px, -33px) rotate(8deg);
  -ms-transform: translate(-57px, -33px) rotate(8deg);
  transform: translate(-57px, -33px) rotate(8deg);
}
body.blur .code-window {
  height: 50%;
  width: 50%;
  left: 25%;
  top: 25%;
  border: 2px solid #ff0084;
}
.code-window {
  z-index: 1001;
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  -o-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important;
  filter: blur(0px) !important;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  border: none;
  background: white;
  overflow: hidden;
}
.code-window * {
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  -o-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important;
  filter: blur(0px) !important;
}
.code-window h2 {
  text-align: center;
}
.code-window textarea.code-text {
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  -o-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important;
  filter: blur(0px) !important;
  width: 90%;
  margin-left: 5%;
  height: 75%;
  -webkit-appearance: none;
}
