//TODO: Hire a graphic designer...

@import 'mixins.less';

@font-face {
    font-family: walkway;
    src: url('../fonts/Walkway.woff');
}
@font-face {
    font-family: walkway;
    src: url('../fonts/Walkway_Bold.woff');
    font-weight: bold;
}
@font-face {
    font-family: walkway;
    src: url('../fonts/Walkway_Bolder.woff');
    font-weight: bolder;
}
html * {
    font-size: 16px
}
body {
    padding: 0;
    margin: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
}
h1 {
    font-size: 70px;
    margin: 0;
    * {
        font-size: 70px;
    }
}

header {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 1em;
    //.gradient(@flickrGray,lighten(@flickrGray,10%),@flickrGray);
}
input {
    height: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    .rounded(6px);
}
button {
    //.gradient(@flickrGray,lighten(@flickrGray,10%),@flickrGray);
    .rounded(6px);
    border: 1px solid @flickrBlue;
    color: @flickrBlue;
    padding: .5em;
    &:hover {
        border: 1px solid @flickrPink;
        color: @flickrPink;
        //.gradient(@flickrGray,@flickrGray,lighten(@flickrGray,10%));
    }
}

#username_input {
    width: 310px;
    margin: 0 auto;
    text-align: center;
    input {
        width: 98%;
        text-align: center;
    }
    button {
        width: 50%;
        margin: 0 auto;
    }
}

.pink {
    color: @flickrPink;
}
.blue {
    color: @flickrBlue;
}

.set-list {
    margin: 2em;
    .set {
        display: inline-block;
        //width: 24%;
        width: 400px;
        text-align: center;
        cursor: pointer;
        margin-bottom: 3em;
        p {
            font-family: walkway;
            font-weight: bold;
            font-size: 20px;
        }
        .thumbs {
            height: 180px;
            position: relative;
            margin-top: 2.5em;
            cursor: pointer;
            img {
                position: absolute;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                border: 8px black double;
                background: white;
                cursor: pointer;
                &:nth-child(1) {
                    .transform(rotate(10deg) translateX(-20px));
                    .transition();
                }
                &:nth-child(2) {
                    .transform(rotate(-10deg) translateX(42px));
                    .transition();
                }
                &:nth-child(3) {
                    .transform(translate(20px,20px));
                    .transition();
                }
                &:nth-child(4) {
                    .transform(translate(-27px, -13px) rotate(8deg));
                    .transition();
                }
            }
            &:hover {
                img {
                    &:nth-child(1) {
                        .transform(rotate(10deg) translate(-80px,20px));
                    }
                    &:nth-child(2) {
                        .transform(rotate(-10deg) translateX(72px));
                    }
                    &:nth-child(3) {
                        .transform(translate(50px,50px));
                    }
                    &:nth-child(4) {
                        .transform(translate(-57px, -33px) rotate(8deg));
                    }
                }
            }
        }
    }
}

.code-window {
    z-index: 1001;
    .transition(0.6s);
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    //.drop-shadow(7px,7px,14px,.4);
    border: none;
    background: white;
    overflow: hidden;
    &.enabled {
        height: 50%;
        width: 50%;
        left: 25%;
        top: 25%;
        border: 2px solid @flickrPink;
    }
    h2 {
        text-align: center;
    }
    textarea.code-text {
        .filter(blur(0px)) !important;
        width: 90%;
        margin-left: 5%;
        height: 75%;
        -webkit-appearance: none;
    }
    .close {
        display: block;
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 30px;
        color: @flickrBlue;
        cursor: pointer;
    }
}

span.blur-wrapper {
    display: block;
    height: 100%;
    width: 100%;
    &.enabled {
        //background: rgba(0,0,0,0.3);
        .filter(blur(10px));
        .transform(translate3d(0,0,0));
    }
}
body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
